<% placeholder_text = "Hi #{@booking.experience.user.first_name.capitalize}!

I'm really looking forward to joining your activity! We would like to come on the selected date, do we need to bring anything?

Looking forward to meet you!"%>

<h1>Book your activity with <%= @booking.experience.user.first_name.capitalize %>!</h1>

<%= simple_form_for([@experience, @booking]) do |f| %>
  <div class="form-inputs">
    <%= f.input :date_time, as: :string, label: "Select a date and time" %>
    <%= f.input :message, :input_html => {:rows => 9}, label: "Add a message for #{@booking.experience.user.first_name.capitalize}", placeholder: placeholder_text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
