<div class="card">
  <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0)), url(<%=experience.photo%>);">
  <span class="card-category"><%=experience.category%></span>
  <div class="card-time">
  <p>[<%=experience.duration%>h]</p>
  </div>
      <div class="card-description">
        <h2><%=experience.title.upcase%></h2>
     <!--    <p>Duration:<%=experience.duration%>h</p> -->
      </div>
       <% if experience.user.photo.url == nil %>
          <i class="far fa-user card-user avatar-border-white-i"></i>
          <% else %>
          <%= image_tag experience.user.photo.url(:thumnail), :class => "far fa-user card-user avatar-small avatar-border-white"%>
        <%end%>
      <%=link_to "", experience_path(experience), :class => "card-link" %>
      <div class="card-footer">
    <p><%=experience.address%> (<%=experience.price.to_i%>€)</p>
    <div class="controls">
      <a href="#"><i class="fa fa-star"></i></a>
      <a href="#"><i class="fa fa-share"></i></a>
    </div>
  </div>
  </div>

</div>
