<div class="message" data-booking-id="<%= booking.id %>">
  <%  if User.find(@experiences.find(booking.experience_id).user_id).photo.url != nil %>
  <%= image_tag User.find(@experiences.find(booking.experience_id).user_id).photo.url(:thumnail), :class => "avatar avatar-border-turqoise" %>
  <% else %>
  <i class="far fa-user avatar-border-turqoise-i" style="font-size: 24px"></i>
  <% end %>
  <div class="message-name">
    <h3> Hosted from: <%= (User.find(@experiences.find(booking.experience_id).user_id)).first_name%></h3>
    <p> <%=booking.date_time.strftime("%b %e, %l:%M %p")%></p>
  </div>
  <div class="message-body">
    <p><strong><%=@experiences.find(booking.experience_id).title%></strong></p>
    <p>
      <%=booking.message%>
    </p>
  </div>
  <%if booking.status == nil || "accepted"%>
  <div class="message-status">
    <p class="status accepted">Booked</p>
  <%end%>
    <p class="message-price"><%=@experiences.find(booking.experience_id).price.to_i%>€</p>
    <%= link_to experience_booking_path(@experiences.find(booking.experience_id), booking), method: :delete,remote: true, :class => "message-link" do %>
    <i class="far fa-trash-alt"></i>
    <%end%>
  </div>
</div>
