<div class="card-grid">
  <div class="row">
    <div class="col-sm-6">
      <%= render 'shared/card' %>
    </div>
    <div class="col-sm-6">
      <%= render 'shared/card' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <%= render 'shared/card' %>
    </div>
    <div class="col-sm-4">
      <%= render 'shared/card' %>
    </div>
    <div class="col-sm-4">
      <%= render 'shared/card' %>
    </div>
  </div>
</div>
