<% if user_signed_in? == false %>
  <%= render "shared/banner" %>
<%else%>
  <div class="margin-banner">
</div>
<%end%>

<div class="container text-center">
  <div id="filter-box">
    <form action="#experiences" method="get">

      <div class="filter-box-element">
        <label for="category">Category</label>
        <select id="category" name="category" placeholder="Category" class="input-box no-margin">
          <option></option>
          <% Experience::CATEGORIES.each do |category| %>
            <option><%= category %></option>
          <% end %>
        </select>
      </div>

      <div class="filter-box-element">
        <label for="category">Duration</label>
        <input type="text" id="duration" name="duration" class="span2" value="" data-slider-step="0.5" data-slider-min="0" data-slider-max="6"

        data-slider-value="[<%= params[:duration].nil? || params[:duration].empty? ? 0.5 : params[:duration].split(",").first%>,
        <%= params[:duration].nil? || params[:duration].empty? ? 5.5 : params[:duration].split(",").last %>]"/>
      </div>

      <div class="filter-box-element">
        <label for="price">Price</label>
        <input type="text" id="price" name="price" class="span2" value="" data-slider-step="1" data-slider-min="0"
        data-slider-max= "40"

        data-slider-value="[<%= params[:price].nil? || params[:price].empty? ? 5 : params[:price].split(",").first%>,
        <%= params[:price].nil? || params[:price].empty? ? 35 : params[:price].split(",").last %>]"/>
      </div>

      <div class="filter-box-element">
        <input type="submit" value="Apply" class="btn-filter">
        <!-- <button class="btn-filter">Reset</button> -->
      </div>
    </form>
  </div>
</div>



<div id="experiences"> </div>
  <div class="row">
    <div class="card-container no-gutters">
    <% @experiences.in_groups_of(5, Experience.new) do |group| %>
        <%= group_cards_experiences(group) %>
    <%end%>
  </div>
</div>


<% content_for :after_js do  %>
  <script>
  var slider = new Slider('#duration', {});
  var slider = new Slider('#price', {});
  </script>
<% end %>

