<% if user_signed_in? == false %>
  <%= render "shared/banner" %>
<%else%>
  <div class="margin-banner">
</div>
<%end%>

<%= simple_form_for Experience.new do |f| %>
  <%= f.input :category %>
  <%= f.input :duration %>
  <%= f.input :price %>
<% end %>

<!--
<div class="text-center">
  <form action="#experiences" method="get">
    <input type="text" id="category" name="category" placeholder="Category">
    <input type="text" id="duration" name="duration" placeholder="Duration">
    <input type="text" id="price" name="price" placeholder="Price">
    <input type="submit">
  </form>
</div> -->

<div id="experiences"> </div>
  <div class="row">
    <div class="card-container no-gutters">
    <% @experiences.in_groups_of(5, Experience.new) do |group| %>
        <%= group_cards_experiences(group) %>
    <%end%>
  </div>
</div>

