<% if user_signed_in? == false %>
  <%= render "shared/banner" %>
<%else%>
  <div class="margin-banner">
</div>
<%end%>


<div class="container text-center">
  <div id="filter-box">
    <%= form_tag experiences_path, method: :get, remote: true do%>

      <input type="hidden" id="searchquery" name="search" value=<%= params[:search] %>>

      <div class="filter-box-element">
        <label for="category">Category</label>
        <select id="category" name="category" placeholder="Category" class="input-box no-margin">
          <option></option>
          <% Experience::CATEGORIES.each do |category| %>
            <option><%= category %></option>
          <% end %>
        </select>
      </div>

      <div class="filter-box-element">
        <label for="category">Duration (hours)</label>
        <input type="text" id="duration" name="duration" class="span2" value="" data-slider-step="0.5" data-slider-min="0"
        data-slider-max="<%= @max_duration %>"

        data-slider-value="[<%= params[:duration].nil? || params[:duration].empty? ? 0.5 : params[:duration].split(",").first%>,
        <%= params[:duration].nil? || params[:duration].empty? ? 5.5 : params[:duration].split(",").last %>]"/>
      </div>

      <div class="filter-box-element">
        <label for="price">Price (€)</label>
        <input type="text" id="price" name="price" class="span2" value="" data-slider-step="1" data-slider-min="0"
        data-slider-max= "<%= @max_price %>"

        data-slider-value="[<%= params[:price].nil? || params[:price].empty? ? 5 : params[:price].split(",").first%>,
        <%= params[:price].nil? || params[:price].empty? ? 35 : params[:price].split(",").last %>]"/>
      </div>

      <div class="filter-box-element">
        <input type="submit" value="Apply filters" class="btn-filter">
      </div>

    <% end %>
  </div>
</div>



<div id="experiences"> </div>
  <div class="row" id="cardsgrid">
    <%= render 'cardsgrid' %>
  </div>
</div>


<% content_for :after_js do  %>
  <script>
  var slider = new Slider('#duration', {});
  var slider = new Slider('#price', {});
  </script>
<% end %>

