<div class="experience-wrapper">

  <div class="experience-background" style="background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0)), url(<%=@experience.photo%>);">
  </div>

  <div class="col-sm-10">
  <div class="experience-container">
<!-- <div id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0)), url(<%=@experience.photo%>);">
</div> -->

    <div class="experience-top-section">
      <h2><strong><%= @experience.title.capitalize %></strong></h2>
      <ul class="list-unstyled">
        <li><strong>Category:</strong> <%= @experience.category.capitalize %></li>
        <li><strong>Duration:</strong> <%= @experience.duration %> hours</li>
        <li><strong>Price:</strong> € <%=@experience.price.to_i %></li>
      </ul>
      <div class="avatar-box text-center">
        <% if @experience.user.photo.url != nil %>
          <%= image_tag @experience.user.photo.url(:thumnail), :class => "avatar avatar-border-turqois"%>
        <%end%>
      </div>
    </div>

    <div class="experience-bottom-section" >

          <div class="experience-content">
            <div style="overflow-y: scroll; height:30vh;">
            <h2><strong>Description</strong></h2>
            <%= @experience.description.capitalize %>
            </div>
            <!-- <div class="price">
              <strong>Price:</strong> € <%=@experience.price.to_i %>
            </div> -->
            <%= link_to "Go Back", experiences_path, :class => "text-center back-button-pink border-radius"  %>

            <div class="button-book">
              <button type="button" class="btn-book-now btn-book-show-page text-center" data-toggle="modal" data-target="#bookNowModal">Book now</button>
            </div>
          </div>


          <div id="map" style="width:30vw; height: 50vh;" data-markers="<%= @markers.to_json %>"></div>

      </div>
      </div>
    </div>
    </div>



<!-- Modal -->
<% placeholder_text = "Hi #{@booking.experience.user.first_name.capitalize}!

I'm really looking forward to joining your activity! We would like to come on the selected date, do we need to bring anything?

Looking forward to meet you!"%>



<div class="modal fade" id="bookNowModal" tabindex="-1" role="dialog" aria-labelledby="bookNowModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="bookNowModalLabel">
          Book your activity with <%= @experience.user.first_name.capitalize %>!
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@experience, @booking]) do |f| %>
          <div class="form-inputs">
            <%= f.input :date_time, as: :string, label: "Select a date and time" %>
            <%= f.input :message, :input_html => {:rows => 9}, label: "Add a message for #{@booking.experience.user.first_name.capitalize}", placeholder: placeholder_text %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Book now", :class => "btn-book-now" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



